{% extends 'base.html.twig' %}


{% block container %}
        <h1>Ma page de contact</h1>
        <a href="{{ path('app_main') }}" class="btn  btn-sm btn-primary">Revenir en arrière</a>
{% endblock %}
